<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration, Version=4.0.0.0" />
  </configSections>
  <unity>
    <aliases>
      <!--D.Util 基础接口-->
      <add alias="IEventBus" type="D.Util.Interface.IEventBus,D.Util" />
      <add alias="ILoggerFactory" type="D.Util.Interface.ILoggerFactory,D.Util" />

      <!--D.Spider.Core 使用的所有接口-->
      <add alias="IUrl" type="D.Spider.Core.Interface.IUrl,D.Spider.Core" />
      <add alias="IPage" type="D.Spider.Core.Interface.IPage,D.Spider.Core" />
      <add alias="IUrlManager" type="D.Spider.Core.Interface.IUrlManager,D.Spider.Core" />
      <add alias="IDownloader" type="D.Spider.Core.Interface.IDownloader,D.Spider.Core" />
      <add alias="IPageProcess" type="D.Spider.Core.Interface.IPageProcess,D.Spider.Core" />

      <!--D.Util 基础接口的实现-->
      <add alias="EventBus" type="D.Util.Event.EventBus,D.Util" />
      <add alias="NullLoggerFactory" type="D.Util.Logger.NullLogger.NullLoggerFactory,D.Util" />

      <!--D.Spider.Core 接口的内部实现-->
      <add alias="UrlManager" type="D.Spider.Core.UrlManager,D.Spider.Core" />
      <add alias="HttpDownloader" type="D.Spider.Core.HttpDownloader,D.Spider.Core" />

      <!--D.Spider.Core 接口的自定义实现-->
      <add alias="ConsolePageProcess" type="D.Spider.Console.ConsolePageProcess,D.Spider.Console" />
    </aliases>
    <containers>
      <container name="SpiderContainer">
        <!--基础对象的注入-->
        <register type="IEventBus"  mapTo="EventBus">
          <lifetime type="singleton"/>
        </register>
        <register type="ILoggerFactory"  mapTo="NullLoggerFactory">
          <lifetime type="singleton"/>
        </register>

        <!--D.Spider.Core 内置对象的注入-->
        <register type="IUrlManager"  mapTo="UrlManager">
          <lifetime type="singleton"/>
        </register>
        <register type="IDownloader"  mapTo="HttpDownloader">
          <lifetime type="singleton"/>
        </register>

        <!--自定义对象的注入-->
        <register type="IPageProcess"  mapTo="ConsolePageProcess">
          <lifetime type="singleton"/>
        </register>
      </container>
    </containers>
  </unity>
</configuration>