{
  "version": "1.0",
  "describe": "配置模板",
  "logging": {
    "console": {
      "logLevel": "trce"
    },
    "log4net": {
      "logLevel": "debug",
      "path": "log/novelcrawl.log"
    }
  },
  "core": {
    "spider": {
      "logLevel": "debug"
    },
    "novelCrawl": {
      "logLevel": "debug",
      "server": "www.duzhiwei.online"
    }
  }
}
