{
  "version": "1.0",
  "describe": "配置模板",
  "logging": {
    "filters": [
      {
        "namesapce": "D.Spider.Core",
        "logLevel": "wran"
      }
    ],
    "writer": {
      "console": {
        "logLevel": "trce"
      },
      "log4net": {
        "logLevel": "warn",
        "outFilePath": "log/novelcrawl.log",
        "maxFileSize": "1MB"
      }
    }
  },
  "core": {
    "spider": {
      "logLevel": "debug"
    },
    "novelCrawl": {
      "logLevel": "debug",
      "server": "http://localhost:8091"
    }
  }
}
