<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration, Version=4.0.0.0" />
  </configSections>
  <unity>
    <aliases>
      <!--D.Util 基础接口-->
      <add alias="IEventBus" type="D.Util.Interface.IEventBus,D.Util" />
      <add alias="ILoggerFactory" type="D.Util.Interface.ILoggerFactory,D.Util" />

      <!--D.Util.Web 基础接口-->
      <add alias="IjQuery" type="D.Util.Interface.IjQuery,D.Util.Web" />
      <add alias="ISpiderscriptEngine" type="D.Spider.Core.Interface.ISpiderscriptEngine,D.Spider.Core" />

      <!--D.Spider.Core 使用的所有接口-->
      <add alias="IUrl" type="D.Spider.Core.Interface.IUrl,D.Spider.Core" />
      <add alias="IPage" type="D.Spider.Core.Interface.IPage,D.Spider.Core" />
      <add alias="IUrlManager" type="D.Spider.Core.Interface.IUrlManager,D.Spider.Core" />
      <add alias="IDownloader" type="D.Spider.Core.Interface.IDownloader,D.Spider.Core" />
      <add alias="IPageProcess" type="D.Spider.Core.Interface.IPageProcess,D.Spider.Core" />

      <add alias="INvoelCrawl" type="D.NovelCrawl.Core.Interface.INvoelCrawl,D.NovelCrawl.Core" />
      <add alias="IWebsitProxy" type="D.NovelCrawl.Core.Interface.IWebsitProxy,D.NovelCrawl.Core" />

      <add alias="Novel" type="D.NovelCrawl.Core.Models.Novel,D.NovelCrawl.Core" />     
    </aliases>
    <containers>
      <container name="SpiderContainer">
        <!--基础对象的注入-->
        <register type="IEventBus"  mapTo="D.Util.Event.EventBus,D.Util">
          <lifetime type="singleton"/>
        </register>
        <register type="ILoggerFactory"  mapTo="D.Util.Logger.Console.ConsoleLoggerFactory,D.Util.Logger.Console">
          <lifetime type="singleton"/>
        </register>
        <register type="IjQuery"  mapTo="D.Util.Web.jQuery,D.Util.Web">
          <lifetime type="singleton"/>
        </register>
        <register type="ISpiderscriptEngine"  mapTo="D.Spider.Core.SsEngine,D.Spider.Core">
          <lifetime type="singleton"/>
        </register>

        <!--D.Spider.Core 内置对象的注入-->
        <register type="IDownloader"  mapTo="D.Spider.Core.HttpDownloader,D.Spider.Core">
          <lifetime type="singleton"/>
        </register>
        <register type="IUrlManager"  mapTo="D.Spider.Core.UrlManager,D.Spider.Core">
          <lifetime type="singleton"/>
        </register>

        <!--D.NovelCrawl.Core 定义对象的注入-->
        <register type="IPageProcess"  mapTo="D.NovelCrawl.Core.NovelCrawl,D.NovelCrawl.Core">
          <lifetime type="singleton"/>
        </register>
        <register type="INvoelCrawl"  mapTo="D.NovelCrawl.Core.NovelCrawl,D.NovelCrawl.Core">
          <lifetime type="singleton"/>
        </register>
        <register type="IWebsitProxy"  mapTo="D.NovelCrawl.Core.VirtualWebsetProxy,D.NovelCrawl.Core">
          <lifetime type="singleton"/>
        </register>

        <register type="Novel"  mapTo="D.NovelCrawl.Core.Models.Novel,D.NovelCrawl.Core">
        </register>
      </container>
    </containers>
  </unity>
</configuration>